/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* shared colors */
:root {
  --bg_body: #0a111e;
  --txt_h: #fff;
  --txt_p: #abb2bf;
  --primary_clr: #0ff;
  --secondary_clr: #00313a;
  --header-icon-clr: hsl(180, 86%, 38%);
  --header-icon-glow: drop-shadow(0 0 10px var(--primary_clr));

  --transition-curve-cubic: cubic-bezier(0.85, 0.05, 0.18, 1.35);
  /* font from github page footer font */
  --font-footer-github: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --font-general: "Poppins", sans-serif;
}
body.light {
  --bg_body: #282c33;
  --txt_h: #fff;
  --txt_p: #abb2bf;
  --primary_clr: #c778dd;
  --secondary_clr: #00313a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html,
body {
  scroll-behavior: smooth;
}
.App {
  scroll-behavior: smooth;

  margin: 0 auto;
  height: 1000vh;
  background: var(--bg_body);
}
/* shared */
a {
  text-decoration: none;
  transition: color ease 0.2s;
  color: var(--txt_p);
}
ul {
  list-style: none;
}
